@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    outline: none;
    border: none;
    transition: .2s linear;
}

body, html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    background: white; /* Ensure the background is white */
}

.header {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.header img {
    width: auto;
    height: 40px;
    margin-right: 10px;
    margin-top: 10px;
    background: transparent;
}

.navbar a {
    font-size: 18px;
    color:black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 20px;
    transition: 300ms;
}

.navbar a:hover {
    color: #6AC5FE;
}

.navbar span {
    padding: 0.5rem 1rem;
    font-size: 16px;
    border-radius: 25px;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height */
    width: 100vw; /* Full width */
    background: white; /* Your gradient background */
    border-radius: 25px; /* Rounded corners */
    overflow: hidden; /* Prevent overflow of elements inside */
    text-align: center;
}

.banner-content {
    width: 80%; /* Adjust width for centered effect */
    height: 80%;
    background: linear-gradient(180deg, #8c52ff, #5ce1e6);
    border-radius: 25px; /* Rounded corners */
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.banner-content h1 {
    font-size: 60px;
    font-weight: 600;
    color: white;
    text-align: center;
}

.banner-content p {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

.banner-content a {
    padding: .75rem 1.5rem;
    background-color: white;
    color: #003f88;
    border-radius: 25px;
    text-decoration: none;
    transition: background-color 0.3s;
    font-size: 20px;
     /* Automatically sets equal margins to the left and right, centering the button */
}

.banner-content a:hover {
    background-color: #4a99ce;
}

.image {
    max-height: 80%;
    max-width: 40%; /* Keep the robot image within bounds */
    display: flex;
    align-items: center;
    justify-content: center;
}

.mission-content {
    max-width: 100%;
    text-align: center;
    background: #5ce1e6;
    padding: 20px;
    padding-bottom: 70px;
    padding-left: 120px;
    padding-right: 120px;
}

.about-section {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 2rem;
    background: linear-gradient(#5ce1e6, white);
    padding-top: 20px;
    padding-bottom: 50px;
}

.about-content,
.abouttwo-content {
    text-align: center;
    display: inline-block;
    padding: 1rem 1.75rem;
    background-color: white;
    border-radius: 25px;
    max-width: 500px;
    color: #003f88;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.mission-content h2 {
    font-size: 70px;
    color: white;
}

.mission-content p {
    font-size: 24px;
    color: white;
}

.about-content h2,
.abouttwo-content h2 {
    font-size: 40px;
    color: #003f88;
}

.about-content p,
.abouttwo-content p {
    font-size: 24px;
    color: #003f88;
}
