/* General Style Imports */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    outline: none;
    border: none;
    transition: .2s linear;
}

body, html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    background: white;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 120px; /* Adjust based on your header's height */
}

.header {
    position: fixed;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: white;
    border-radius: 50px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.header img {
    width: auto;
    height: 40px;
    margin-top: 10px;
    background: transparent;
    padding-right: 65px;
    padding-left: 10px;
}


/* Dropdown Container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Main dropdown link (IntervAI) */
.dropdown-link {
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: color 0.3s;
}

/* Dropdown content */
.drop-down {
    display: none; /* Hidden by default */
    position: absolute;
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    padding: 0.5rem 0;
    min-width: 60px;
    margin-top: 0.15rem;
    z-index: 1000;
}

/* Dropdown Items */
.drop-down li {
    list-style: none;
    padding: 0.5rem 1rem;
    font-size: 14px;
    font-weight: 600;
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Horizontally center the text */
    align-items: center;  /* Vertically center the text */
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Change dropdown item hover behavior */
.drop-down li:hover {
    background-color: rgb(255, 255, 255);
    color: #fff;
    border-radius: 0.5rem;
}

/* Show the dropdown when hovering on parent */
.dropdown:hover .drop-down {
    display: block;
}

/* Hover effect for the dropdown link */
.dropdown-link:hover {
    color: black;
}


.navbar {
    display: flex;
    align-items: center;
    gap: 4rem; /* Adjust the gap as needed */
}

.navbar a, .navbar span {
    font-size: 20px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    transition: 300ms;
}

.navbar a:hover, .navbar span:hover {
    color: #8c52ff;
}


.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: white;
    border-radius: 50px;
    overflow: hidden;
    text-align: center;
}

.banner-content {
    width: 98%;
    height: 97%;
    background: linear-gradient(180deg, #8c52ff, #5ce1e6);
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 8px 10px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
}

.banner-content h1 {
    font-size: 100px;
    font-weight: 500;
    color: white;
    text-align: center;
    max-width: 1200px;
    margin-bottom: 30px;
}

.banner-content p {
    font-size: 32px;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}

.banner-content a {
    padding: .75rem 1.5rem;
    background-color: white;
    color: #6AC5FE;
    border-radius: 25px;
    text-decoration: none;
    transition: color 0.3s;
    font-size: 28px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2); 
}

.banner-content a:hover {
    color: #8c52ff;
}

.banner-content img {
    height: 700px;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll {
    padding-top: 100px;
    font-size: 80px;
    color: #003f88;
    font-weight: 900;
}

.mission-content {
    max-width: 100%;
    text-align: center;
    background: white;
    padding: 20px;
    padding-bottom: 70px;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 120px;
}

.about-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: white;
    padding-top: 120px;
    padding-bottom: 50px;
    gap: 2rem; /* Add gap to control the space between video and content box */
}

.video-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.video-content iframe {
    width: 825px;  /* Adjust width */
    height: 497px; /* Adjust height */
}


.mission-content h2 {
    font-size: 100px;
    color: #003f88;
}

.mission-content p {
    font-size: 24px;
    color: #003f88;
}

.abouttwo-content {
    text-align: center;
    display: block;
    width: 600px;
    padding: 20px;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    color: #003f88;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


.abouttwo-content h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.abouttwo-content p {
    font-size: 24px;
    line-height: 1.5;
}


.interviews {
    text-align: center;
    padding: 50px;
    background: linear-gradient(#5ce1e6, white);
}

.interviews-content h2 {
    margin-top: 90px;
    font-size: 100px;
    color: white;
    margin-bottom: 40px;
}

.interview-boxes {
    display: flex;
    justify-content: center;
    gap: 12rem;
    padding-bottom: 100px;
}

.content-box {
    display: block;
    width: 600px;
    padding: 20px;
    background-color: white;
    text-align: center;
    border-radius: 25px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #003f88;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.content-box h3 {
    font-size: 40px;
    margin-bottom: 15px;
}

.content-box p {
    font-size: 24px;
    line-height: 1.5;
}

.content-box:hover {
    transform: scale(1.05);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}

.core-values {
    text-align: center;
    padding: 60px;
    background: linear-gradient(white, #5ce1e6);
}

.core-values-content h2 {
    font-size: 100px;
    color: #003f88;
    margin-bottom: 50px;
    padding-top: 120px;
}

.values-boxes {
    display: flex;
    justify-content: space-between; /* Space evenly between the boxes */
    gap: 2rem; /* Adjust the gap between each core value box */
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    align-items: flex-start; /* Align boxes to the top */
}

.value-box:hover {
    transform: scale(1.05);
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
}

.value-box h3 {
    font-size: 30px;
    color: #003f88;
    margin-bottom: 20px;
}

.value-box {
    background-color: white;
    width: 22%;
    padding: 30px;
    border-radius: 25px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures that content and author name are aligned */
    height: 100%; /* Ensures all boxes have equal height */
}

.value-box p {
    font-size: 20px;
    color: #003f88;
    line-height: 1.5;
    flex-grow: 1; /* Makes the text grow to fill available space */
}

.value-box em {
    display: block;
    margin-top: 20px;
    color: #003f88;
    font-size: 20px;
}




.footer {
    background-color: white;
    color: white;
    padding: 50px 0;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logo img {
    width: 150px;
    margin-bottom: 20px;
}

.footer-links {
    margin-bottom: 20px;
}

.footer-links a {
    color: #003f88;
    text-decoration: none;
    margin: 0 15px;
    font-size: 18px;
}

.footer-links a:hover {
    color: #6AC5FE;
}

.footer-social a {
    margin: 0 10px;
}

.footer-social img {
    width: 30px;
    transition: transform 0.2s ease;
}

.footer-social img:hover {
    transform: scale(1.2);
}

.footer p {
    margin-top: 20px;
    font-size: 16px;
}
